.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: 1 1 auto;
}

#portada{

    /*max-width: 100%;
    height:auto;*/
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    
    background-image: url('../../../../assets/banner.jpg');
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    padding: 80px;
}

.text_titulo{
    color: white;   
    font-weight: bold;
    text-align: center;
}

.example-card {
    max-width:400px;
  }
  
  .example-header-image {
    background-image: url('../../../../assets/logos/angular.svg');
    background-size: cover;
  }

  .img {
    width: 100%;
    margin-bottom: 18%;
  }
  .card-picture {
    width: 80%;
    margin-bottom: 2%;
  }
  .container {
    min-height: 100%;
    width: 100%;
  }
  .search-form {
    width: 90%;
  }
  
@media ( max-width:768px){
    #portada{
    padding: 20px;
    font-size: 0.7em;
    }
}