<app-navbar>

    <div class="demo-ribbon" [ngStyle]="{'background-image':portada.imagen}"></div>

    <div class="container">
        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.9%" fxLayoutAlign="center center">
            <div fxFlex="10%" fxShow.sm="false" fxShow.xs="false">
                
            </div>
            <div fxFlex="80%" fxFlex.sm="100%" fxFlex.sm="100%" >
        
                <app-personal></app-personal>      
               


                <div class="section" [class.mat-elevation-z3]="true">
                    <div fxLayout.sm="column" fxLayout.xs="column" fxLayout="row">                      

                        <div fxFlex="25%">

                            <app-section-habilidad></app-section-habilidad>

                        </div>

                        <div fxFlex="75%" style="padding: 10px;background-color: rgb(238, 238, 238);">
                            <h3 class="titulo">ESTUDIOS</h3>
                            <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap="0.9% " >

                                <mat-card>
                                    <mat-card-header>
                                        <div mat-card-avatar class="ucordoba-header-image"></div>
                                        <mat-card-title>UNIVERSIDAD DE CORDOBA</mat-card-title>
                                        <mat-card-subtitle>Ingeniero de sistemas</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>

                                <mat-card>
                                    <mat-card-header>
                                        <div mat-card-avatar class="sena-header-image"></div>
                                        <mat-card-title>SENA VIRTUAL</mat-card-title>
                                        <mat-card-subtitle>Calidad en el desarrollo de software</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>

                                <mat-card>
                                    <mat-card-header>
                                        <div mat-card-avatar class="udemy-header-image"></div>
                                        <mat-card-title>UDEMY</mat-card-title>
                                        <mat-card-subtitle>REST API con Spring Boot</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>
                                          

                            </div>

                            <h3 class="titulo">EXPERIENCIA LABORAL</h3>
                            <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap="0.9%">

                                <mat-card >
                                    <mat-card-header>
                                        <div mat-card-avatar class="avanza-header-image"></div>
                                        <mat-card-title>AVANZA MÁS</mat-card-title>
                                        <mat-card-subtitle>Software Developer</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>

                                <mat-card>
                                    <mat-card-header>
                                        <div mat-card-avatar class="emdi-header-image"></div>
                                        <mat-card-title>EMDISALUD</mat-card-title>
                                        <mat-card-subtitle>Analista de desarrollo</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>

                                <mat-card >
                                    <mat-card-header>
                                        <div mat-card-avatar class="upb-header-image"></div>
                                        <mat-card-title>UPB</mat-card-title>
                                        <mat-card-subtitle>Software Developer</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>


                                <mat-card>
                                    <mat-card-header>
                                        <div mat-card-avatar class="data-header-image"></div>
                                        <mat-card-title>DATA SISTEMAS</mat-card-title>
                                        <mat-card-subtitle>Software Developer</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>
                                            

                            </div>
                        </div>

                    </div>
                </div>


            </div>        
            <div fxFlex="10%" fxShow.sm="false" fxShow.xs="false">
                
            </div>
        </div>
    </div>


</app-navbar>