.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: 1 1 auto;
}

#portada{

    /*max-width: 100%;
    height:auto;*/
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    
    background-image: url('../../../../assets/banner.jpg');
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    padding: 80px;
}

.text_titulo{
    color: white;   
    font-weight: bold;
    text-align: center;
}

.example-card {
    max-width:400px;
}
  
  .ucordoba-header-image {
    background-image: url('../../../../assets/logos/ucordoba.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sena-header-image {
    background-image: url('../../../../assets/logos/sena.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .udemy-header-image {
    background-image: url('../../../../assets/logos/udemy.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .avanza-header-image {
    background-image: url('../../../../assets/logos/avanza.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .emdi-header-image {
    background-image: url('../../../../assets/logos/emdi.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .upb-header-image {
    background-image: url('../../../../assets/logos/upb.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .data-header-image {
    background-image: url('../../../../assets/logos/data.png');
    background-size: contain;
    background-repeat: no-repeat;
  }


  .search-form {
    width: 90%;
  }

  .mat-form-field {
    display: block;
   }

   #formLoginAndRegister{
    text-align: center;
    width: 100%;
}
.ccontacto{
    margin-bottom: 20px;
}
  
@media ( max-width:768px){
    #portada{
    padding: 20px;
    font-size: 0.7em;
    }
}


/*   ------NEW STYLE-------- */

.demo-ribbon {
  width: 100%;
  height: 40vh;
  /*background-color: rgb(223, 153, 49);*/
  background-color:lightgray;
  background-position: center;
  background-size: cover;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

