<app-navbar>

    <div class="demo-ribbon"></div>

    <div class="container">
        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.9%" fxLayoutAlign="center center">
            <div fxFlex="10%" fxShow.sm="false" fxShow.xs="false">
                
            </div>
            <div fxFlex="80%" fxFlex.sm="100%" fxFlex.sm="100%" >
                <div class="section" [class.mat-elevation-z3]="true"  fxLayout.xs="column">
                    
                    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center"> 
                        <div fxFlex="70%" fxLayoutAlign="center center">
                            <img class="img_avatar" [class.mat-elevation-z2]="true" src="../../../../assets/images/foto_personal.jpeg" >
                        </div>
                        
                        <div fxFlex="30%" class="text-center">
                            <div class="text-name" style="clear: both">
                                José Alejandro Ricardo 
                            </div>
                            <span class="text-profesion">Ingeniero de Sistemas</span>
                        </div>
                    </div>
                    <div fxFlex="50%" class="a-cerca" [ngStyle.xs]="{'margin-left.px': 20}"> 
                      
                        <app-personal></app-personal>      
                                                     
                    </div>                                     
                </div>


                <div class="section" [class.mat-elevation-z3]="true">
                    <div fxLayout.sm="column" fxLayout.xs="column" fxLayout="row">                      

                        <div fxFlex="25%">
                            <h3 style="text-align: center;">HABILIDADES</h3>
                            <mat-divider></mat-divider>
                            <div class="item-tecnologia">
                                <div class="img-icon" matTooltip="Php >= 7.0" matTooltipPosition="right">
                                        <img src="../../../../assets/logos/php.svg" width="40">
                                </div>
                                <mat-progress-bar
                                    class="example-margin"
                                    [color]="color"
                                    [mode]="mode"
                                    [value]="90"
                                    [bufferValue]="bufferValue">
                                </mat-progress-bar>
                            </div>

                            <div class="item-tecnologia">
                                <div class="img-icon" matTooltip="Laravel >= 5.0 " matTooltipPosition="right">
                                        <img src="../../../../assets/logos/laravel.svg" width="40">
                                </div>
                                <mat-progress-bar
                                    class="example-margin"
                                    [color]="color"
                                    [mode]="mode"
                                    [value]="85"
                                    [bufferValue]="bufferValue">
                                </mat-progress-bar>
                            </div>


                            <div class="item-tecnologia">
                                <div class="img-icon" matTooltip="Java >= 1.8" matTooltipPosition="right">
                                        <img src="../../../../assets/logos/java.svg" width="40">
                                </div>
                                <mat-progress-bar
                                    class="example-margin"
                                    [color]="color"
                                    [mode]="mode"
                                    [value]="80"
                                    [bufferValue]="bufferValue">
                                </mat-progress-bar>
                            </div>

                            <div class="item-tecnologia">
                                <div class="img-icon" matTooltip="Spring Boot >= 1.5" matTooltipPosition="right">
                                        <img src="../../../../assets/logos/spring.svg" width="40">
                                </div>
                                <mat-progress-bar
                                    class="example-margin"
                                    [color]="color"
                                    [mode]="mode"
                                    [value]="75"
                                    [bufferValue]="bufferValue">
                                </mat-progress-bar>
                            </div>

                            <div class="item-tecnologia">
                                <div class="img-icon" matTooltip="Groovy >=2.4" matTooltipPosition="right">
                                        <img src="../../../../assets/logos/groovy.png" width="40">
                                </div>
                                <mat-progress-bar
                                    class="example-margin"
                                    [color]="color"
                                    [mode]="mode"
                                    [value]="75"
                                    [bufferValue]="bufferValue">
                                </mat-progress-bar>
                            </div>

                            <div class="item-tecnologia">
                                <div class="img-icon" matTooltip="Grails >=2.4" matTooltipPosition="right">
                                        <img src="../../../../assets/logos/grails.svg" width="40">
                                </div>
                                <mat-progress-bar
                                    class="example-margin"
                                    [color]="color"
                                    [mode]="mode"
                                    [value]="75"
                                    [bufferValue]="bufferValue">
                                </mat-progress-bar>
                            </div>

                            <div class="item-tecnologia">
                                <div class="img-icon" matTooltip="Angular >=2.0" matTooltipPosition="right">
                                        <img src="../../../../assets/logos/angular.svg" width="40">
                                </div>
                                <mat-progress-bar
                                    class="example-margin"
                                    [color]="color"
                                    [mode]="mode"
                                    [value]="75"
                                    [bufferValue]="bufferValue">
                                </mat-progress-bar>
                            </div>

                            <div class="item-tecnologia">
                                <div class="img-icon" matTooltip="JavaScript" matTooltipPosition="right">
                                        <img src="../../../../assets/logos/javascript.svg" width="40">
                                </div>
                                <mat-progress-bar
                                    class="example-margin"
                                    [color]="color"
                                    [mode]="mode"
                                    [value]="85"
                                    [bufferValue]="bufferValue">
                                </mat-progress-bar>
                            </div>    

                        </div>

                        <div fxFlex="75%" style="padding: 10px;background-color: rgb(238, 238, 238);">
                            <h3 class="titulo">ESTUDIOS</h3>
                            <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap="0.9% " >

                                <mat-card>
                                    <mat-card-header>
                                        <div mat-card-avatar class="ucordoba-header-image"></div>
                                        <mat-card-title>UNIVERSIDAD DE CORDOBA</mat-card-title>
                                        <mat-card-subtitle>Ingeniero de sistemas</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>

                                <mat-card>
                                    <mat-card-header>
                                        <div mat-card-avatar class="sena-header-image"></div>
                                        <mat-card-title>SENA VIRTUAL</mat-card-title>
                                        <mat-card-subtitle>Calidad en el desarrollo de software</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>

                                <mat-card>
                                    <mat-card-header>
                                        <div mat-card-avatar class="udemy-header-image"></div>
                                        <mat-card-title>UDEMY</mat-card-title>
                                        <mat-card-subtitle>REST API con Spring Boot</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>
                                          

                            </div>

                            <h3 class="titulo">EXPERIENCIA LABORAL</h3>
                            <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap="0.9%">

                                <mat-card >
                                    <mat-card-header>
                                        <div mat-card-avatar class="avanza-header-image"></div>
                                        <mat-card-title>AVANZA MÁS</mat-card-title>
                                        <mat-card-subtitle>Software Developer</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>

                                <mat-card>
                                    <mat-card-header>
                                        <div mat-card-avatar class="emdi-header-image"></div>
                                        <mat-card-title>EMDISALUD</mat-card-title>
                                        <mat-card-subtitle>Analista de desarrollo</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>

                                <mat-card >
                                    <mat-card-header>
                                        <div mat-card-avatar class="upb-header-image"></div>
                                        <mat-card-title>UPB</mat-card-title>
                                        <mat-card-subtitle>Software Developer</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>


                                <mat-card>
                                    <mat-card-header>
                                        <div mat-card-avatar class="data-header-image"></div>
                                        <mat-card-title>DATA SISTEMAS</mat-card-title>
                                        <mat-card-subtitle>Software Developer</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>
                                            

                            </div>
                        </div>

                    </div>
                </div>


            </div>        
            <div fxFlex="10%" fxShow.sm="false" fxShow.xs="false">
                
            </div>
        </div>
    </div>


</app-navbar>