<app-navbar>

    <div class="demo-ribbon"></div>

    <div class="container">
        <div class="ccontacto" fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.9%" fxLayoutAlign="center center">
            <div fxFlex="10%" fxShow.sm="false" fxShow.xs="false">
                
            </div>
            <div fxFlex="80%" fxFlex.sm="100%" fxFlex.sm="100%" >
                <div class="section" [class.mat-elevation-z3]="true"  fxLayout.xs="column">
                    
                    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center"> 
                        <div fxFlex="70%" fxLayoutAlign="center center">
                            <img class="img_avatar" [class.mat-elevation-z2]="true" src="../../../../assets/images/foto_personal.jpeg" >
                        </div>
                        
                        <div fxFlex="30%" class="text-center">
                            <div class="text-name" style="clear: both">
                                José Alejandro Ricardo 
                            </div>
                            <span class="text-profesion">Ingeniero de Sistemas</span>
                        </div>
                    </div>
                    <div fxFlex="50%" class="a-cerca"> 
                        <h2 class="titulo">Sobre mí</h2>
                        <p style="text-align: justify;">
                            Monteriano, ingeniero de sistemas de la Universidad de Córdoba, apacionado por la numismatica, series de internet, los paseos 
                            con mi esposa.
                        </p>
                        <p style="text-align: justify;">
                            Soy autodidacta, me esfuerzo en mantenerme al días con las últimas tendencias en técnologias de front-end y back-end, se me facilita el trabajar
                            En equipos grandes, puqueños e incluso de manera individual.
                        </p>
                    </div>
                                     
                </div>

                <div class="section" [class.mat-elevation-z3]="true">
                        SKILLS
                </div>

            </div>        
            <div fxFlex="10%" fxShow.sm="false" fxShow.xs="false">
                
            </div>
        </div>
    </div>


</app-navbar>