<h2 class="titulo">Sobre mí</h2>
<p style="text-align: justify;" >
    Monteriano, ingeniero de sistemas de la Universidad de Córdoba, apasionado por la numismática, series de Internet y los paseos con mi esposa.
</p>
<p style="text-align: justify;" >
    Soy autodidacta, me esfuerzo en mantenerme al días con las últimas tendencias en tecnologías de front-end y back-end, se me facilita el trabajar En equipos grandes, pequeños e incluso de manera individual.
</p> 
<ul class="vinieta1">
    <li><a>contacto@josericardolara.com.co</a></li>
</ul>
<ul class="vinieta2">
    <li> <a href="https://www.linkedin.com/in/programacion01/" target="__blanck">Ver perfil</a> </li>
</ul>
<ul class="vinieta3">
    <li> <a href="https://github.com/DevRicardo" target="__blanck">Ver perfil</a> </li>
</ul>