
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.9%" >
   
    <div fxFlex="50%" >
        <form (ngSubmit)="onActionForm(FormHabilidad)" name="FormHabilidad" #FormHabilidad="ngForm" class="example-container">
        
        <mat-form-field>
            <input type="number" matInput [(ngModel)]="habilidad.orden" #orden="ngModel" name="orden" placeholder="Orden">
          </mat-form-field>
    
        
          <mat-form-field>
            <input matInput [(ngModel)]="habilidad.nombre" #nombre="ngModel" name="nombre" placeholder="Nombre">
          </mat-form-field>
     
        <mat-form-field>
            <input matInput [(ngModel)]="habilidad.value" #value="ngModel" name="value" placeholder="Porcentaje de manejo">
          </mat-form-field>
        
          <mat-form-field>
            <input matInput [(ngModel)]="habilidad.descripcion" #descripcion="ngModel" name="descripcion" placeholder="Descripción">
          </mat-form-field>

  
          <mat-progress-bar
            [value]="uploadPercentHabilidad | async">
        </mat-progress-bar>
  
          <input id="fileInputHabilidad" (change)="fileChangeHabilidad($event.target.files)" type="file" fxHide="true"> 
          <button mat-stroked-button type="button" 
            color="primary" 
            id="uploadButton" 
            class="md-raised md-primary margin-button" 
            aria-label="attach_file"
            (click)="openInput()">
            <mat-icon class="material-icons">attach_file</mat-icon>
            Seleccione imagen 
          </button>
                    
          <mat-form-field>
              <input [(ngModel)]="habilidad.imagen" #imagen="ngModel" name="imagen" matInput placeholder="Imagen no seleccionada" readonly="readonly">
          </mat-form-field>

          <button mat-raised-button color="primary">
              <mat-icon class="material-icons">save</mat-icon>
              Guardar datos 
          </button>
          <button type="button" (click)="resetForm(FormHabilidad)" mat-button color="warn">
              <mat-icon class="material-icons">clear</mat-icon>
              Cancelar 
          </button>
            
  </form>
  
    </div>


    <div fxFlex="50%" class="example-container">

      <table mat-table [dataSource]="habilidades" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="Imagen">
            <th mat-header-cell *matHeaderCellDef> Imagen</th>
            <td mat-cell *matCellDef="let element">
               <img [src]="element.imagen" width="50">
              </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="Valor">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element"> {{element.value}}%</td>
          </ng-container>

          <ng-container matColumnDef="Opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
              <button  mat-button color="primary" (click)="onEdit(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button  mat-button color="warn" (click)="onDelete(element)" >
                  <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>        
          
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        
    </div>
    
  
 
  </div>
  
  
  <div class="actions" fxLayout="row" fxLayoutAlign="end center">
     <!-- <div>porcentaje:{{ uploadPercent | async }}</div> --> 
  
  </div>
  

  
  