<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>Inicio</button>
    <button mat-button>Skills</button>
    <button mat-button>Blog</button>
    <button mat-button>Inicio de sesión</button>

    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="100px">

  <div id="portada">
    <div class="text_titulo">
      <h1>José Alejandro Ricardo Lara</h1>
      <h2>Ingeniero de Sistemas</h2>
    </div>
  </div> 

</mat-grid-list>
