
.example-container > * {
width: 100%;
}

.margin-button{
    margin-bottom: 7px;
}
.texto-markdown{
    height: 150px;
}

.render-markdown{
    border: 1px solid #ccc;
    padding: 6px;
    margin-bottom: 10px;
}