<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{hidden: (isHandset$ | async)!.matches}"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary" >Menu</mat-toolbar>
    <mat-nav-list>
      <app-menu></app-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>JR</span>
      <span class="spacer"></span>
      <app-menu *ngIf="!(isHandset$ | async)"></app-menu>

    </mat-toolbar>
    <!-- Add Content Here -->

    <ng-content></ng-content>
    <footer>
      <div fxLayout="row" fxLayoutAlign="center center">
          <h5>Desarrollado por José A. Ricardo 2018 <samp style="color: white; font-weight: bold;">CvPlus Versión 0.20.2</samp></h5>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
