<form (ngSubmit)="onActionForm(FormExperiencia)" name="FormExperiencia" #FormExperiencia="ngForm">
  <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="0.9%"  fxLayoutAlign="center center">
   
    <div fxFlex class="example-container">

        <mat-form-field>
            <input type="number" matInput [(ngModel)]="experiencia.orden" #orden="ngModel" name="orden" placeholder="Orden">
          </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="experiencia.empresa" #empresa="ngModel" name="empresa" placeholder="Empresa">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="experiencia.cargo" #cargo="ngModel" name="cargo" placeholder="Cargo">
        </mat-form-field>
        
        <mat-form-field>
          <textarea matInput [(ngModel)]="experiencia.detalles" #detalles="ngModel" name="detalles" placeholder="Funciones"></textarea>
        </mat-form-field>       
        
          <mat-form-field >

            <input matInput readonly [matDatepicker]="picker" [(ngModel)]="experiencia.inicio" #inicio="ngModel" name="inicio" placeholder="Inicio">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          
          </mat-form-field>

          <mat-form-field >  
            
            <input matInput readonly [matDatepicker]="pickerFin" [(ngModel)]="experiencia.fin" #fin="ngModel" name="fin" placeholder="Fin">
            <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
            <mat-datepicker #pickerFin></mat-datepicker>

          </mat-form-field>
    
      
        <mat-checkbox [(ngModel)]="experiencia.actual"  #actual="ngModel" name="actual" >Trabajo actualmente</mat-checkbox>
        
  
  
        <mat-progress-bar
            [value]="uploadPercentExperiencia | async">
        </mat-progress-bar>
  
          <input id="fileInputExperiencia" (change)="fileChangeExperiencia($event.target.files)" type="file" fxHide="true"> 
          <button mat-stroked-button type="button" 
            color="primary" 
            id="uploadButton" 
            class="md-raised md-primary margin-button" 
            aria-label="attach_file"
            (click)="openInput()">
            <mat-icon class="material-icons">attach_file</mat-icon>
            Seleccione imagen 
          </button>
                    
          <mat-form-field>
              <input [(ngModel)]="experiencia.imagen" #imagen="ngModel" name="imagen" matInput placeholder="Imagen no seleccionada" readonly="readonly">
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="end">   

              <button mat-raised-button color="primary" >
                  <mat-icon class="material-icons">save</mat-icon>
                  Guardar datos 
              </button>

              <button type="button" (click)="resetForm(FormExperiencia)" mat-button color="warn">
                <mat-icon class="material-icons">clear</mat-icon>
                Cancelar 
              </button>


          </div>
  
    </div>

  </div>
  
  
  </form>

  <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="0.9%" >

  <table mat-table [dataSource]="experiencias" class="mat-elevation-z8" class="table-full">

 
    <ng-container matColumnDef="Imagen">
      <th mat-header-cell *matHeaderCellDef> Imagen</th>
      <td mat-cell *matCellDef="let element">
         <img [src]="element.imagen" width="50">
        </td>
    </ng-container>
  
    
    <ng-container matColumnDef="Empresa">
      <th mat-header-cell *matHeaderCellDef> Empresa </th>
      <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
    </ng-container>

    <ng-container matColumnDef="Cargo">
      <th mat-header-cell *matHeaderCellDef> Cargo </th>
      <td mat-cell *matCellDef="let element"> {{element.cargo}} </td>
    </ng-container>
  

    <ng-container matColumnDef="Inicio">
      <th mat-header-cell *matHeaderCellDef> Inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.inicio.toDate() | date: 'medium' }}</td>
    </ng-container>

    <ng-container matColumnDef="Fin">
      <th mat-header-cell *matHeaderCellDef> Fin </th>
      <td mat-cell *matCellDef="let element"> {{element.fin.toDate() | date: 'medium'}}</td>
    </ng-container>

    <ng-container matColumnDef="Opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="onEdit(element)" mat-button color="primary">
            <mat-icon>edit</mat-icon>
        </button>
        <button (click)="onDelete(element)" mat-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>  
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 
  
</div> 
