/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    padding: 0px;
    margin: 0px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 400;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.titulo{
    border-bottom: #304ffe 2px solid;
}

a{
    color: black;
    vertical-align: top;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: darkgrey;
  }
  
  a:active {
    text-decoration: none;
  }

  .container {
    min-height: 100%;
    width: 100%;
  }

  .container{
    margin-top: -20vh;  
    -ms-flex: 0 1 auto;
    display: inline-block;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    z-index: 1;
  }

  .section{
    width: 100%;
    min-height: 300px;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 10px;
  }

.text-name{
  font-size: 2em;
  color: #304ffe;
  font-weight: bold;
}

.text-profesion{
  color: slategray;
}
.text-center{
  text-align: center;
}

.margin-text-sm{
  margin-left: 20px;
}

mat-card{
  margin-bottom: 0.9%;
}