/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    padding: 0px;
    margin: 0px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 400;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.titulo{
    border-bottom: #304ffe 2px solid;
}

a{
    color: black;
    vertical-align: top;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: darkgrey;
  }
  
  a:active {
    text-decoration: none;
  }
