<app-navbar>
    <div class="container-admin">
        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="0.9%" fxLayoutAlign="center center" class="container-admin">
            <mat-accordion fxFlex="80%">

            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Portada
                        </mat-panel-title>
                        <mat-panel-description>
                        
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <app-form-portada></app-form-portada>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Datos básicos
                        </mat-panel-title>
                        <mat-panel-description>
                        
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <app-form></app-form>

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Habilidades
                        </mat-panel-title>
                        <mat-panel-description>
                        
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    
                    <app-form-habilidad></app-form-habilidad>

                </mat-expansion-panel>

            </mat-accordion>
        </div>    
    </div>  
</app-navbar>